app001/node_modules
package-lock.json
.vscode
yarn.lock
eventtrigger/client/src/contracts
private_network/chaindata
asset_tokenization/node_modules
asset_tokenization/client/src/contracts
.env
drizzle_example/client/public
drizzle_example/client/src/artifacts
